.boton-contenedor{
    
    height: 38px; 
    font-size :38px; 
    font-weight: bolder;
    background-color:rgb(0, 133, 242) ;
    display:flex ;
    flex:1 1 ;
    justify-content:center ;
    align-items:center ;
    border-radius: 25px ;
    border: 2px solid beige;
    color:rgb(1, 25, 26); 
    margin: 4px;
    cursor:pointer;
    user-select: none;
    
}
.boton-contenedor:hover{
    background-color: rgb(0, 223, 19);
}
.operador{
    background-color: rgb(226, 43, 122);
}
.operador:hover{
    background-color: rgb(190, 104, 216);
}